<div style="text-align:center">
    <h1 style="color: @Color">
        @Title
    </h1>
    @*<p>@ChildContent</p>*@
    <p>@VisitShopChildContent</p>
    <p>
        <img class="img-fluid" @attributes="AdditionalAttributes"/>
    </p>    
</div>

